<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <textarea id="my-text-area2">

    </textarea>
    <script>
      const easymde = new EasyMDE({
        element: document.getElementById('my-text-area2'),
      });
    </script>
  </body>
</html>